body .panel.header{
  height: auto;
  margin: 0;
}
body .panel.header .logo{
  margin-left: 0px;
  width: auto;
}


/*
*  Fixing main structure
*/
body #container_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  width: auto;
  margin: auto;
}

body #container_main #search {
  order: 0;
  margin: 0;
  padding: 0px;
}

#container_main #adserver-sidebar {
  order: 2;
}

#container_main #adserver-listing-right {
  order: 2;
  left: auto;
  right: auto;
  display: none;
  position: static;
}

#adserver-right, #adserver-sidebar {
  position: static !important;
  top: auto !important;
  left: auto !important;
}

#listing_container #newTopPublicity {
  height: 90px;
}

#listing_container #newTopPublicity #adserver-top {
  display: block;
  top: 0;
  left: auto;
}

#adserver-top {
  display:none;
}

#search_form #searchmain {
  padding: 11px ;
  margin: 0px;
}
/*
*  Fixing middle column
*/

#container_main #listing_container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  order: 1;
  width: 728px;
  margin-right: 15px !important;
  margin-left: 15px !important;
}

#container_main #listing_container,
#container_main #listing_container > tbody,
#container_main #listing_container > tbody > tr,
#container_main #listing_container > tbody > tr > #listing-top {
  width: 728px;
} {
  width: 728px;
}


#container_main #listing_container #listing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container_main #listing_container #listing-top .gallery-wrap {
  height: auto;
}

#container_main #listing_container #listing-top .gallery-wrap .gallery-list.real {
  display: flex;
}
